div.hero__frame
    div.frame__item
        div.frame__content 
            p.frame__title 1400+
            p.frame__text Online Courses
        img.img__frame(src="./assets/images/hero/iconOnline.png", alt="icon")
    div.frame__item
        div.frame__content 
            p.frame__title 1100+
            p.frame__text Expert Instructors
        img.img__frame(src="./assets/images/hero/iconExpert.png", alt="icon")
    div.frame__item
        div.frame__content 
            p.frame__title 800+
            p.frame__text Success Stories
        img.img__frame(src="./assets/images/hero/iconSuccess.png", alt="icon")