div.courses__cards
    div.courses__item 
        img(src="./assets/images/courses/img-1.jpg", alt="img-courses")  
        div.line
        div.text__content 
            p.item__title Development
            p.price 150$
        p.courses__text Lorem ipsum dolor sit amet, consecte tur adipiscing elit. Aliquam et hendrer it eui smod fusce sit.
    
    div.courses__item 
        img(src="./assets/images/courses/img-2.jpg", alt="img-courses")  
        div.line
        div.text__content 
            p.item__title Android Developer
            p.price 130$
        p.courses__text Lorem ipsum dolor sit amet, consecte tur adipiscing elit. Aliquam et hendrer it eui smod fusce sit.
    
    div.courses__item 
        img(src="./assets/images/courses/img-3.jpg", alt="img-courses")  
        div.line
        div.text__content 
            p.item__title Java Script Course
            p.price 140$
        p.courses__text Lorem ipsum dolor sit amet, consecte tur adipiscing elit. Aliquam et hendrer it eui smod fusce sit.
    
    div.courses__item 
        img(src="./assets/images/courses/img-3.jpg", alt="img-courses")  
        div.line
        div.text__content 
            p.item__title Android Developer
            p.price 120$
        p.courses__text Lorem ipsum dolor sit amet, consecte tur adipiscing elit. Aliquam et hendrer it eui smod fusce sit.
    
    div.courses__item 
        img(src="./assets/images/courses/img-1.jpg", alt="img-courses")  
        div.line
        div.text__content 
            p.item__title Java Script Course
            p.price 120$
        p.courses__text Lorem ipsum dolor sit amet, consecte tur adipiscing elit. Aliquam et hendrer it eui smod fusce sit.
    
    div.courses__item 
        img(src="./assets/images/courses/img-2.jpg", alt="img-courses")  
        div.line
        div.text__content 
            p.item__title Basic Marketing
            p.price 100$
        p.courses__text Lorem ipsum dolor sit amet, consecte tur adipiscing elit. Aliquam et hendrer it eui smod fusce sit.
    
