div.service__cards
    div.service__item 
        img(src="./assets/images/service/iconLearn.png", alt="iconLearn")  
        p.item__title Learn More Online
        p.item__text Lorem ipsum dolor sit amet, consecte tur adipiscing elit. Aliquam et hendrer it eui smod fusce sit.
    div.service__item 
        img(src="./assets/images/service/iconWriting.png", alt="iconWriting")  
        p.item__title Writing Notes
        p.item__text Lorem ipsum dolor sit amet, consecte tur adipiscing elit. Aliquam et hendrer it eui smod fusce sit.
    div.service__item 
        img(src="./assets/images/service/iconChoices.png", alt="iconChoices")  
        p.item__title Interactive Sessions
        p.item__text Lorem ipsum dolor sit amet, consecte tur adipiscing elit. Aliquam et hendrer it eui smod fusce sit.
    div.service__item 
        img(src="./assets/images/service/iconTechnical.png", alt="iconTechnical")  
        p.item__title Life Time Support
        p.item__text Lorem ipsum dolor sit amet, consecte tur adipiscing elit. Aliquam et hendrer it eui smod fusce sit.