section.about 
    div.container.about__section
        div.about__content
            h2.about__title Find Your Course That Makes Bright Future
            p.about__subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultricies at diam magnis faucibus et faucibus gravida.  malesuada fauci bus iaculis eu. Fusce est, consectetur tempor penatibus sed. Ut dolor, vulputate quam nec aliquam aliquam nisl. Auctor eros, iaculis quam nisi
            p.about__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et hendrerit euismod fusce sit. 
            a.about__btn(href="#") Learn More
        div.images 
            img.img__about(src="./assets/images/about/img.png", alt="img")