section.courses__section
    div.container.courses
        div.section__content.courses__content 
            h2.section__title Our All The Online Courses
            p.section__subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et hendrerit euismod fusce sit. 
        include anothers/courses-card
        a.courses__btn(href="") View All Course