header 
    div.container.header__content
        div.header__logo
            h2.header__title Education
        nav 
            ul.header__nav
                li.nav__item 
                    a.nav__link(href="#") Home 
                li.nav__item 
                    a.nav__link(href="#") Courses
                li.nav__item 
                    a.nav__link(href="#") Page
                li.nav__item 
                    a.nav__link(href="#") Blog 
                li.nav__item 
                    a.nav__link(href="#") Contact
                li.nav__inner
                    a.nav__link(href="#") Sign in  
                li.nav__item 
                    a.nav__btn(href="#") Sign up  