section.hero 
    div.container.hero__section 
        div.hero__content 
            h2.hero__title Self-Paced Learning Courses Online
            p.hero__subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet, vestibulum euismod nullam elementum. Urna, posuere nisi sit gravida massa. Ultrices bibendum sagittis pellentesque vitae sit.
            a.hero__btn(href="#") Start a coures
        include anothers/hero-frame
