section.service__section
    div.container.service
        div.section__content 
            h2.section__title How It Work
            p.section__subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et hendrerit euismod fusce sit. 
        include anothers/service-card